### Python 3.10.13
ipykernel==6.23.1
numpy==1.24.3 ### try change 1.26
tokenizers==0.13.3 ### 0.15.0
torch==2.0.1
tqdm==4.65.0
transformers==4.29.2 ### upgraded to 4.36.2 for all except 70m, 160m in DPO. 
datasets==2.12.0 ### 2.16.1
beautifulsoup4==4.12.2
wandb==0.15.3
hydra-core==1.3.2
tensor-parallel==1.2.4